.my-nav {
    height: 80px;
}

.my-nav-side {
    min-height: calc(100vh - 80px);
}

.text-muted:hover {
    color: #f8f9fa !important;
}

.my-cover {
    height: 350px;
    width: 100%;
    object-fit: cover;
}